In [1]:
import numpy as np
import pandas as pd

In [13]:
temps1 = pd.Series([5, 10, 15, 20])
temps2 = pd.Series([2, 4, 6, 8])

print(temps1, temps2)

0     5
1    10
2    15
3    20
dtype: int64 0    2
1    4
2    6
3    8
dtype: int64

In [21]:
temps3 = pd.Series([70, 80, 90], ['국어', '영어', '수학'])
print(temps3, '\n')
print(temps3['국어'], '\n')
temps3['수학'] = 75
print(temps3)

국어    70
영어    80
수학    90
dtype: int64

70

국어    70
영어    80
수학    75
dtype: int64

In [20]:
temps4 = pd.Series([15, 27, 18], ['봄', '여름', '가을'])
print(temps4, '\n')
print(temps4['봄'], '\n')
temps4['가을'] = 20
print(temps4)

봄     15
여름    27
가을    18
dtype: int64

15

봄     15
여름    27
가을    20
dtype: int64

In [19]:
temps5 = pd.Series([1000, 1200, 1300], ['01-01', '01-02', '01-03'])
print(temps5, '\n')
print(temps5['01-01'], '\n')
temps5['01-02'] = 1250
print(temps5)

01-01    1000
01-02    1200
01-03    1300
dtype: int64

1000

01-01    1000
01-02    1250
01-03    1300
dtype: int64

In [18]:
temps6 = pd.Series([300, 400, 500], ['월', '화', '수'])
print(temps6, '\n')
print(temps6['화'], '\n')
temps6['수'] = 550
print(temps6)

월    300
화    400
수    500
dtype: int64

400

월    300
화    400
수    550
dtype: int64

In [24]:
temp1 = {'name' : ['철수', '영희', '민수'], 'math' : [85, 90, 78]}
tempd1 = pd.DataFrame(temp1)
print(tempd1, '\n')

temp2 = {'day' : ['월', '화', '수'], 'sales' : [1000, 1200, 900]}
tempd2 = pd.DataFrame(temp2)
print(tempd2)

  name  math
0   철수    85
1   영희    90
2   민수    78

  day  sales
0   월   1000
1   화   1200
2   수    900

In [34]:
tempd2 = pd.DataFrame([[30, 50], [20, 40]], ['사과', '배'], ['판매량', '재고'])
print(tempd2, '\n')

print(tempd2.loc['사과', '판매량'], '\n')

tempd2['가격'] = [1000, 1200]
tempd2

    판매량  재고
사과   30  50
배    20  40

30

    판매량  재고    가격
사과   30  50  1000
배    20  40  1200

In [37]:
temlis1 = [[950, 1200], [500, 800]]
temrow1 = ['서울', '부산']
temcol1 = ['인구', '면적']
tempd3 = pd.DataFrame(temlis1, temrow1, temcol1)
print(tempd3, '\n')
print(tempd3['면적']['서울'], '\n')
tempd3['특산물'] = ['김치', '어묵']
tempd3

     인구    면적
서울  950  1200
부산  500   800

1200

     인구    면적 특산물
서울  950  1200  김치
부산  500   800  어묵

In [41]:
temlis2 = [[15000, '홍길동전'], [20000, '해리포터']]
temrow2 = ['책1', '책2']
temcol2 = ['가격', '제목']
tempd4 = pd.DataFrame(temlis2, temrow2, temcol2)
print(tempd4, '\n')
print(tempd4['가격']['책2'], '\n')
tempd4.insert(1, '저자', ['허균', 'J.K. 롤링'])
tempd4

       가격    제목
책1  15000  홍길동전
책2  20000  해리포터

20000

       가격       저자    제목
책1  15000       허균  홍길동전
책2  20000  J.K. 롤링  해리포터

In [42]:
temlis3 = [[9.0, 14000], [8.2, 95000]]
temrow3 = ['기생충', '인터스텔라']
temcol3 = ['평점', '관객수']
tempd5 = pd.DataFrame(temlis3, temrow3, temcol3)
print(tempd5, '\n')
print(tempd5['평점']['기생충'], '\n')
tempd5 = tempd5.drop('관객수', axis = 1)
tempd5

        평점    관객수
기생충    9.0  14000
인터스텔라  8.2  95000

9.0

        평점
기생충    9.0
인터스텔라  8.2

In [43]:
temps7 = pd.Series([80,90,75,85], ['국어', '영어', '수학', '과학'])
print('총점 :', temps7.sum())
print('평균 :', temps7.mean())
print('최고 점수 :', temps7.max())
print('최저 점수 :', temps7.min())

총점 : 330
평균 : 82.5
최고 점수 : 90
최저 점수 : 75

In [44]:
temps8 = pd.Series([2, 5, -1, 0, 7, -3, 4], ['월', '화', '수', '목', '금', '토', '일'])
print(temps8[temps8 >= 0])

월    2
화    5
목    0
금    7
일    4
dtype: int64

In [46]:
temlis4 = [[12000, 9.0], [8000, 8.5], [15000, 9.3]]
temrow4 = ['기생충', '인터스텔라', '아바타']
temcol4 = ['관객수', '평점']
tempd6 = pd.DataFrame(temlis4, temrow4, temcol4)
print(tempd6, '\n')

tempd6['관객수'] += 1000
print(tempd6, '\n')

print(tempd6[tempd6['평점'] >= 9.0])

         관객수   평점
기생충    12000  9.0
인터스텔라   8000  8.5
아바타    15000  9.3

         관객수   평점
기생충    13000  9.0
인터스텔라   9000  8.5
아바타    16000  9.3

       관객수   평점
기생충  13000  9.0
아바타  16000  9.3

In [49]:
temlis5 = [[25000, 30000], [40000, 15000]]
temrow5 = ['치마', '바지']
temcol5 = ['1월 매출', '2월 매출']
tempd7 = pd.DataFrame(temlis5, temrow5, temcol5)
print(tempd7, '\n')

tempd7['합계'] = tempd7['1월 매출'] + tempd7['2월 매출']
print(tempd7, '\n')

tempd7['합계(만원)'] = tempd7['합계'] / 1000
print(tempd7)

    1월 매출  2월 매출
치마  25000  30000
바지  40000  15000

    1월 매출  2월 매출     합계
치마  25000  30000  55000
바지  40000  15000  55000

    1월 매출  2월 매출     합계  합계(만원)
치마  25000  30000  55000    55.0
바지  40000  15000  55000    55.0

In [60]:
temlis6 = [[20, 25, 15], [18, 22, 19], [25, 27, 23]]
temrow6 = ['서울', '부산', '대구']
temcol6 = ['봄', '여름', '겨울']
tempd8 = pd.DataFrame(temlis6, temrow6, temcol6)
print(tempd8, '\n')

tempd8.loc['서울', '여름'] = np.nan
print(tempd8, '\n')

print(tempd8.dropna(axis = 0), '\n')

tempd8.loc['부산', '봄'] = np.nan
print(tempd8, '\n')

tempd8 = tempd8.fillna(value = 0)
print(tempd8, '\n')

     봄  여름  겨울
서울  20  25  15
부산  18  22  19
대구  25  27  23

     봄    여름  겨울
서울  20   NaN  15
부산  18  22.0  19
대구  25  27.0  23

     봄    여름  겨울
부산  18  22.0  19
대구  25  27.0  23

       봄    여름  겨울
부산   NaN  22.0  19
대구  25.0  27.0  23

       봄    여름  겨울
부산   NaN  22.0  19
대구  25.0  27.0  23

In [67]:
temlis7 = [[80, 75, 90], [85, 88, 82], [70, 65, 78]]
temrow7 = ['국어', '영어', '수학']
temcol7 = ['1반', '2반', '3반']
tempd9 = pd.DataFrame(temlis7, temrow7, temcol7)
print(tempd9, '\n')

tempd9.loc['영어', '2반'] = np.nan
print(tempd9, '\n')

print(tempd9.dropna(axis = 0), '\n')

tempd9.loc['수학', '3반'] = np.nan

tempd9 = tempd9.fillna(100)
print(tempd9)

    1반  2반  3반
국어  80  75  90
영어  85  88  82
수학  70  65  78

    1반    2반  3반
국어  80  75.0  90
영어  85   NaN  82
수학  70  65.0  78

    1반    2반  3반
국어  80  75.0  90
수학  70  65.0  78

    1반     2반     3반
국어  80   75.0   90.0
영어  85  100.0   82.0
수학  70   65.0  100.0