## 3. 넘파이

넘파이란? 다차원 배열과 수학함수를 제공하는 모듈(라이브러리)  
모듈이란? 필요한 기능을 미리 만들어두고 가져다 쓰는 것

3.1 ndarry  
다차원 배열  
 1) 다차원 배열의 특징 : 리스트와 비교했을때 계산속도가 빠름  
 2) 리스트와 달리 모든 요소의 타입이 같음

In [1]:
# numpy 모듈 가져오기
import numpy as np

In [4]:
a = np.array([1, 2, 3])
a
b = np.array(['a', 'b', 'c'])
a, b

(array([1, 2, 3]), array(['a', 'b', 'c'], dtype='<U1'))

2차원 배열

In [8]:
c = np.array([[1, 2, 3], [4, 5, 6]])
c
d = np.array([[1, 2, 3], [4, 5, 6], [7, 8, 9]])
d

array([[1, 2, 3],
       [4, 5, 6],
       [7, 8, 9]])

In [ ]:
# arrange : 숫자를 여럿 생성하는 함수
tempnum1 = np.arange(10)

tempnum2 = np.arange(1, 11)

tempnum3 = np.arange(1, 11, 2)

In [9]:
# 파이썬 리스트 SCORES = [85, 90, 78, 92, 88] 을 넘파이 배열로 변환하여 출력하세요
numlis1 = np.array([85, 90, 78, 92, 88])
print(numlis1)

# 리스트 heights = [160, 165, 170, 175, 180] 을 넘파이 배열로 변환하여 출력하세요
heights = [160, 165, 170, 175, 180]
numlis2 = np.array(heights)
print(numlis2)

# 리스트 prices = [1200, 1500, 1800, 2100] 을 넘파이 배열로 변환하여 출력하세요
prices = [1200, 1500, 1800, 2100]
numlis3 = np.array(prices)
print(numlis3)

# 리스트 temps = [20, 22, 19, 25, 30] 을 넘파이 배열로 변환하여 출력하세요
temps = [20, 22, 19, 25, 30]
nuulis4 = np.array(temps)
print(numlis4)

[85 90 78 92 88]
[160 165 170 175 180]
[1200 1500 1800 2100]
[20 22 19 25 30]

In [10]:
def 귀찮으니함수화(a1, a2, a3 = 0):
    if a3 != 0:
        return np.arange(a1, a2, a3)
    else:
        return np.arange(a1, a2)
# 0부터 4까지 숫자를 원소로 가지는 배열을 생성하세요.
numar1 = 귀찮으니함수화(0, 4)
print(numar1)

# 0부터 9까지 숫자를 원소로 가지는 배열을 생성하세요.
numar2 = 귀찮으니함수화(0, 9)
print(numar2)

# 3부터 7까지 숫자를 원소로 가지는 배열을 생성하세요.
numar3 = 귀찮으니함수화(3, 7)
print(numar3)

# 0부터 4까지 숫자를 원소로 가지는 배열을 생성하세요.
numar4 = 귀찮으니함수화(-2, 2)
print(numar4)

[0 1 2 3]
[0 1 2 3 4 5 6 7 8]
[3 4 5 6]
[-2 -1  0  1]

In [16]:
tempzero1 = np.zeros(10)
print(tempzero1)

tempzero2 = np.zeros((5, 4))
print(tempzero2)

tempzero3 = np.zeros((5, 4, 2))
print(tempzero3)

[0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
[[0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]
 [0. 0. 0. 0.]]
[[[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]

 [[0. 0.]
  [0. 0.]
  [0. 0.]
  [0. 0.]]]

In [17]:
print(tempzero3.dtype)
print(tempzero3.ndim)
print(tempzero3.shape)

float64
3
(5, 4, 2)

In [19]:
templargear = np.array([[1,2,3], [4,5,6]])
print(templargear.dtype)
print(templargear.ndim)
print(templargear.shape)

int64
2
(2, 3)

In [21]:
temparrr = np.array([1.1, 2.2, 3.3])

print(temparrr.dtype)

temparrr2 = temparrr.astype(np.int32)
print(temparrr2)
print(temparrr2.dtype)

float64
[1 2 3]
int32

In [22]:
a = np.arange(10)
print(a)
print(a[1])

print(a[3:6])

a[1] = 99
print(a)

[0 1 2 3 4 5 6 7 8 9]
1
[3 4 5]
[ 0 99  2  3  4  5  6  7  8  9]

In [24]:
a[:] = 999
print(a)

[999 999 999 999 999 999 999 999 999 999]

In [28]:
arr = np.array([10, 20, 30, 40, 50])

# 배열의 첫번째 값을 꺼내서 출력하세요.
print(arr[0])

# 배열의 세번째 값을 꺼내서 출력하세요.
print(arr[2])

# 배열의 마지막 값을 꺼내서 출력하세요.
print(arr[len(arr) - 1])

# 배열의 두번째 값을 200으로 바꾸세요.
arr[1] = 200
print(arr)

# 배열의 네번째 값을 999로 바꾸세요.
arr[3] = 999
print(arr)

print(type(arr))
print(type([1,2,3]))

10
30
50
[ 10 200  30  40  50]
[ 10 200  30 999  50]
<class 'numpy.ndarray'>
<class 'list'>

In [34]:
arr = np.array(['가', '나', '다', '라', '마'])

# 배열의 두번째 값을 꺼내서 출력하세요
print(arr[1])

# 배열의 네번째 값을 꺼내서 출력하세요
print(arr[3])

# 배열의 마지막 값을 꺼내서 출력하세요
print(arr[len(arr) - 1])

# 배열의 첫번째 값을 '하'로 바꾸세요
arr[0] = '하'
print(arr)

# 배열의 세번째 값을 '호'로 바꾸세요
arr[2] = '호'
print(arr)

나
라
마
['하' '나' '다' '라' '마']
['하' '나' '호' '라' '마']

In [36]:
arr = np.array([10, 20, 30, 40, 50, 60, 70])

# 배열의 처음 3개 값을 꺼내서 출력하세요
print(arr[ : 3])

# 배열의 네번째부터 끝까지 값을 꺼내서 출력하세요
print(arr[3 : ])

# 배열의 두번째부터 다섯번째까지 값을 꺼내서 출력하세요
print(arr[1 : 5])

[10 20 30]
[40 50 60 70]
[20 30 40 50]

In [38]:
arr = np.array(['a', 'b', 'c', 'd', 'e', 'f', 'g'])

# 배열의 처음 3개 값을 꺼내서 출력하세요
print(arr[ : 3])

# 배열의 네번째부터 끝까지 값을 꺼내서 출력하세요
print(arr[3 : ])

# 배열의 두번째부터 다섯번째까지 값을 꺼내서 출력하세요
print(arr[1 : 5])

['a' 'b' 'c']
['d' 'e' 'f' 'g']
['b' 'c' 'd' 'e']

### 2차원 배열의 인덱싱

In [43]:
arr = np.array([[1,2,3], [4,5,6], [7,8,9]])

print(arr[1][2])
print(arr[2][2])
print(arr[1][1])

6
9
5

In [42]:
arr = np.array([[1,2,3,4],[5,6,7,8],[9,10,11,12],[13,14,15,16]])
print(arr)

[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]

### 2차원 배열의 인덱싱

In [47]:
arr = np.array([[1,2,3], [4,5,6], [7,8,9]])

# 행을 기준으로 슬라이스
print(arr[ : 2])

# 열을 기준으로 슬라이스
print(arr[ : 2, : 2])

print(arr[1, 0 : 2])

[[1 2 3]
 [4 5 6]]
[[1 2]
 [4 5]]
[4 5]

In [49]:
arr = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])

# 첫번째 행의 두번째 값을 꺼내서 출력하세요.
print(arr[0][1])

# 세번째 행의 첫번째 값을 꺼내서 출력하세요.
print(arr[2][0])

# 두번째 행 전체를 꺼내서 출력하세요.
print(arr[2])

# 두번째 열 전체를 꺼내서 출력하세요.
print(arr[ : , 1])

# 첫번째 행의 세번째 값을 300으로 바꾸세요
arr[0][2] = 300
print(arr)

20
70
[70 80 90]
[20 50 80]
[[ 10  20 300]
 [ 40  50  60]
 [ 70  80  90]]

In [50]:
arr = np.array([[1, 2, 3, 4], [5, 6, 7, 8], [9, 10, 11, 12], [13, 14, 15, 16]])

# 두번째 행의 세번째 값을 꺼내서 출력하세요.
print(arr[1][2])

# 네번째 행의 첫번째 값을 꺼내서 출력하세요.
print(arr[3][0])

# 세번째 행 전체를 꺼내서 출력하세요.
print(arr[2])

# 네번째 열 전체를 꺼내서 출력하세요.
print(arr[ : , 3])

# 첫번째 행의 네번째 값을 100으로 바꾸세요.
arr[0][3] = 100
print(arr)

7
13
[ 9 10 11 12]
[ 4  8 12 16]
[[  1   2   3 100]
 [  5   6   7   8]
 [  9  10  11  12]
 [ 13  14  15  16]]

In [52]:
arr = np.array([[10, 20, 30], [40, 50, 60], [70, 80, 90]])

# 첫번째 행의 앞 2개 숫자를 꺼내서 출력하세요.
print(arr[1,  : 1])

# 두번째 행부터 세번째 행까지 전체를 꺼내서 출력하세요
print(arr[1 : 3])

#모든 행에서 두번째와 세번째 열만 꺼내서 출력하세요
print(arr[ : , 1 : 3])

[40]
[[40 50 60]
 [70 80 90]]
[[20 30]
 [50 60]
 [80 90]]

불리언 인덱스  
인덱스란? 데이터의 위치

In [60]:
students = np.array(['철수', '영희', '민수', '철수', '철수'])

books = np.array([['수학의 정석', 7], ['해리포터', 10], ['파이썬 입문', 5], ['한국사', 5], ['데미안', 12]])

print(books[students == '철수'])

print(books[students != '철수'])

books[books == '수학의 정석'] = '자바의 정석'

print(books)

[['수학의 정석' '7']
 ['한국사' '5']
 ['데미안' '12']]
[['해리포터' '10']
 ['파이썬 입문' '5']]
[['자바의 정석' '7']
 ['해리포터' '10']
 ['파이썬 입문' '5']
 ['한국사' '5']
 ['데미안' '12']]

In [62]:
arr = np.array([10, 20, 30, 40, 50, 60, 70])

# 배열에서 30보다 큰 값만 꺼내서 출력하세요.
print(arr[arr > 30])

# 배열에서 짝수 값만 꺼내서 출력하세요.
print(arr[arr % 2 == 0])

# 배열에서 50보다 큰 값을 모두 999로 바꾸세요
arr[arr > 50] = 999
print(arr)

[40 50 60 70]
[10 20 30 40 50 60 70]
[ 10  20  30  40  50 999 999]

In [68]:
employees = np.array(['짱구', '철수', '유리', '맹구', '훈이'])
salaries = np.array([250, 320, 280, 400, 150])

# 맹구의 급여를 조회하세요
print(salaries[employees == '맹구'])

# 급여가 300만원 이상인 직원들의 이름을 출력하세요
print(employees[salaries >= 300])

# 급여가 200만원 미만인 직원들의 급여를 모두 200으로 올리세요
salaries[salaries < 200] = 200
print(salaries)

[400]
['철수' '맹구']
[250 320 280 400 200]

## 3.2 배열의 모양 바꾸기

In [76]:
arr = np.arange(1, 13).reshape(6, 2)

print(arr)

[[ 1  2]
 [ 3  4]
 [ 5  6]
 [ 7  8]
 [ 9 10]
 [11 12]]

In [79]:
# 0 부터 11까지의 숫자를 생성한 뒤, 3행 4열로 바꾸세요.
arr = np.arange(0, 12).reshape(3, 4)
print(arr)

# 1 부터 16까지의 숫자를 생성한 뒤, 4행 4열로 바꾸세요.
arr = np.arange(1, 17).reshape(4, 4)
print(arr)


# 1 부터 20까지의 숫자를 생성한 뒤, 5행 4열로 바꾸세요.
arr = np.arange(1, 21).reshape(5, 4)
print(arr)

# 10 부터 25까지의 숫자를 생성한 뒤, 4행 4열로 바꾸세요.
arr = np.arange(10, 26).reshape(4, 4)
print(arr)

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]]
[[ 1  2  3  4]
 [ 5  6  7  8]
 [ 9 10 11 12]
 [13 14 15 16]
 [17 18 19 20]]
[[10 11 12 13]
 [14 15 16 17]
 [18 19 20 21]
 [22 23 24 25]]

## 3.3 난수를 생성하는 방법  
난수란? 랜덤값

In [88]:
arr = np.random.standard_normal(size=10)
print(arr)

arr = np.random.uniform(size=10)
print(arr)

[ 1.40369943  1.50623561  0.45812708  0.05316935 -0.50841776  1.26251605
  1.4367543   0.15154043 -0.02788875  0.32324424]
[0.80684815 0.36850716 0.91573184 0.26106724 0.04445375 0.14291912
 0.61329127 0.62791323 0.42289541 0.05268938]

In [90]:
# 표준정규분포에서 랜덤값 5개를 생성하세요
arr = np.random.standard_normal(size = 5)
print(arr)

# 균일분포에서 랜덤값 5개를 생성하세요
arr = np.random.uniform(size = 5)
print(arr)

[-0.80186864  0.22557029  0.4617983   0.3687386   0.35195314]
[0.09768411 0.63113648 0.7102154  0.50511826 0.23131787]

## 3.4 유니버설 함수  
반복문 없이 배열 전체에 계산을 해주는 함수

In [97]:
arr = np.arange(10)
print(arr)

np.add(arr, 3)

a = np.array([1, 7, 3, 4, 5])
b = np.array([3, 4, 5, 6, 7])
print(np.maximum(a,b))

a = np.array([1, 2, 3])
b = np.array([10, 20, 30])

cond = np.array([True, True, False])
print(np.where(cond, a, b))

arr = np.array([-2, -1, 0, 1, 2])
print(np.where(arr > 0, 'o', 'x'))

[0 1 2 3 4 5 6 7 8 9]
[3 7 5 6 7]
[ 1  2 30]
['x' 'x' 'x' 'o' 'o']

In [102]:
# 배열 [5, 12, 7, 20, 3] 에서 10보다 크면 '100', 10 이하면 '0' 으로 바꾸세요.
arr = np.array([5, 12, 7, 20, 3])
print(np.where(arr > 10, '100', '0'))

# 배열 [15, 8, 22, 6, 13] 에서 짝수면 1, 홀수면 -1로 바꾸세요.
arr = np.array([15, 8, 22, 6, 13])
print(np.where(arr % 2 == 0, '1', '-1'))

# 배열 [10, 20, 30, 40, 50]과 [1, 2, 3, 4, 5]를 만들고
# 조건배열 [True, False, True, False, True]를 사용해
# 조건이 True 일때는 첫번째 배열값, False 일때는 두번째 배열값을 선택하세요.
arr = np.array([True, False, True, False, True])
arr1 = np.array([10, 20, 30, 40, 50])
arr2 = np.array([1, 2, 3, 4, 5])
print(np.where(arr, arr1, arr2))

['0' '100' '0' '100' '0']
['-1' '1' '1' '1' '-1']
[10  2 30  4 50]

## 통계를 구할 때 자주 사용하는 함수들  
(최대 최소 합계 평균)

In [103]:
lis = [1, 2, 3, 4, 5]

# 리스트의 총합을 구하세요!
print(sum(lis))

# 리스트의 평균을 구하세요!
print(sum(lis) / len(lis))

15
3.0

In [104]:
arr = np.array([1, 2, 3, 4, 5])
print(np.sum(arr))
print(np.mean(arr))
print(np.max(arr))
print(np.min(arr))

15
3.0
5
1

In [109]:
name_kcal = np.array([['김밥', 250], ['라면', 550], ['떡볶이', 400], ['치킨', 800]])
foodname = np.array(['김밥', '라면', '떡볶이', '치킨'])
foodkcal = np.array([250, 550, 400, 800])

print(np.sum(name_kcal[ :, 1].astype(int)))
print(np.mean(name_kcal[ :, 1].astype(int)))
print(np.max(name_kcal[ :, 1].astype(int)))
print(np.min(name_kcal[ :, 1].astype(int)))

2000
500.0
800
250

In [110]:
D_M = np.array([['월', 30], ['화', 45], ['수', 60], ['목', 20], ['금', 40], ['토', 50], ['일', 35]])

print(np.sum(D_M[ :, 1].astype(int)))
print(np.mean(D_M[ :, 1].astype(int)))
print(np.max(D_M[ :, 1].astype(int)))
print(np.min(D_M[ :, 1].astype(int)))

280
40.0
60
20

## 행렬 단위로 합계 구하기

In [119]:
arr = np.arange(1, 10).reshape(3, 3)
print(arr)

print(arr.sum())

print(arr.sum(axis = 0))
print(arr.sum(axis = 1))

#누적값 구하기
arr = np.array([1, 2, 3, 4, 5])
arr.cumsum()

arr = np.array([[0, 1, 2], [3, 4, 5], [6, 7, 8]])
print(arr)

print(arr.cumsum(axis = 0))

print(arr.cumsum(axis = 1))

[[1 2 3]
 [4 5 6]
 [7 8 9]]
45
[12 15 18]
[ 6 15 24]
[[0 1 2]
 [3 4 5]
 [6 7 8]]
[[ 0  1  2]
 [ 3  5  7]
 [ 9 12 15]]
[[ 0  1  3]
 [ 3  7 12]
 [ 6 13 21]]