## 5. 데이터 불러오기와 간단한 분석까지
25.09.16

In [2]:
import numpy as np
import pandas as pd

### 5.1 파일 다루기  
csv, json 파일 불러오기

In [8]:
temcsv1 = pd.read_csv(r'C:\Users\402\workspace\python-data-study\sample\sample1.csv')
temcsv1

   student_id  math  eng  kor
0         101    80   95   88
1         102    92   85   90
2         103    75   80   66

In [14]:
print(temcsv1.index)
temcsv1.columns
temcsv1.set_index('student_id')

RangeIndex(start=0, stop=3, step=1)

            math  eng  kor
student_id
101           80   95   88
102           92   85   90
103           75   80   66

csv 파일 불러오기

In [18]:
temcsv2 = pd.read_csv('sample/sample2.csv', encoding ='euc-kr')
temcsv2 = temcsv2.set_index('상품명')
print(temcsv2.index)
print(temcsv2.columns)

Index(['노트북', '키보드', '마우스'], dtype='object', name='상품명')
Index(['가격', '재고'], dtype='object')

In [ ]:
temcsv2 = pd.read_csv('sample/sample2.csv', encoding ='euc-kr')
temcsv2.index = temcsv2['상품명']

json 파일 불러오기  
파이썬의 딕셔너리와 구조가 비슷  
json 파일을 파싱한다 == json 데이터를 파이썬에서 다룰 수 있는 형태로 변환한다.  
json 파일을 만드는 방법  
key : value  
object : { }  
list : [ ]

In [22]:
#파이썬 방식으로 파일 열기
import json
f = open('sample/sample3.json', 'r')
temdic = json.load(f)
temdic

{'id': 101, 'name': 'alice', 'age': 30}

In [24]:
f = open('sample/sample4.json', 'r', encoding = 'UTF-8')
temdic = json.load(f)
temdic.items()

dict_items([('name', '홍길동'), ('age', 25), ('city', '서울')])

In [27]:
f = open('sample/sample5.json', 'r', encoding = 'UTF-8')
temdic = json.load(f)
temdic

[{'name': '홍길동', 'age': 25, 'city': '서울'},
 {'name': '김철수', 'age': 30, 'city': '부산'}]

In [29]:
temdf = pd.read_json('sample/sample5.json', encoding = 'UTF-8')
temdf = temdf.set_index('name')

In [30]:
temdf

      age city
name
홍길동    25   서울
김철수    30   부산

In [31]:
temdf.loc['김철수']

age     30
city    부산
Name: 김철수, dtype: object

### 5.3 데이터베이스 연결하기  
설치형 데이터베이스 : mysql, oracle..  
파일형 데이터베이스 : sqlite..  
파일형 데이터베이스는 파일만 있으면 어디서든 열 수 있다.

데이터베이스 연결 및 테이블 생성

In [33]:
import sqlite3

In [34]:
con = sqlite3.connect('mydata.sqlite')

In [35]:
con.execute('CREATE TABLE student (id INTEGER, name TEXT, age INTEGER)')

con.execute("INSERT INTO student VALUES (1, '둘리', 25)")
con.execute("INSERT INTO student VALUES (2, '도우너', 30)")
con.commit()

테이블에 있는 데이터 조회

In [37]:
cur = con.execute('SELECT * FROM student')
rows = cur.fetchall()
rows

[(1, '둘리', 25), (2, '도우너', 30)]

In [38]:
cur = con.execute('SELECT * FROM student WHERE id = 1')
row = cur.fetchone()
row

(1, '둘리', 25)

### 5.3 공공데이터 활용하기

In [41]:
opencv = pd.read_csv('sample/OBS_ASOS_TIM_20250916161027.csv', encoding = 'euc-kr')
opencv

     지점 지점명                일시  기온(°C)  습도(%)
0   112  인천  2025-09-14 01:00    22.2     84
1   112  인천  2025-09-14 02:00    21.8     86
2   112  인천  2025-09-14 03:00    21.7     87
3   112  인천  2025-09-14 04:00    21.4     87
4   112  인천  2025-09-14 05:00    21.2     87
5   112  인천  2025-09-14 06:00    21.2     87
6   112  인천  2025-09-14 07:00    21.3     87
7   112  인천  2025-09-14 08:00    22.3     86
8   112  인천  2025-09-14 09:00    22.9     85
9   112  인천  2025-09-14 10:00    23.8     82
10  112  인천  2025-09-14 11:00    24.6     79
11  112  인천  2025-09-14 12:00    25.9     71
12  112  인천  2025-09-14 13:00    26.9     64
13  112  인천  2025-09-14 14:00    27.4     61
14  112  인천  2025-09-14 15:00    27.7     65
15  112  인천  2025-09-14 16:00    27.4     70
16  112  인천  2025-09-14 17:00    27.0     68
17  112  인천  2025-09-14 18:00    26.4     70
18  112  인천  2025-09-14 19:00    25.2     73
19  112  인천  2025-09-14 20:00    24.7     78
20  112  인천  2025-09-14 21:00    24.5     82
21  112  인천  2025-09-14 22:00    24.2     85
22  112  인천  2025-09-14 23:00    23.9     84
23  112  인천  2025-09-15 00:00    23.7     84

In [42]:
print(opencv.index)
print(opencv.columns)

RangeIndex(start=0, stop=24, step=1)
Index(['지점', '지점명', '일시', '기온(°C)', '습도(%)'], dtype='object')

하루 평균 기온과 습도 구하기

In [44]:
print(opencv['기온(°C)'].mean())
print(opencv['습도(%)'].mean())

24.1375
78.83333333333333

In [47]:
print(opencv['기온(°C)'].idxmax())

14

In [48]:
opencv.loc[opencv['기온(°C)'].idxmax(), '일시']

'2025-09-14 15:00'